<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="POST">
        Name: <input type="text" name="name" placeholder="Name">
        Address: <input type="text" name="address" placeholder="Address">
        Gender: <input type="radio" name="gender" value="male"> Male
                <input type="radio" name="gender" value="female"> female
        Salary: <input type="number" name ="salary" placeholder="Salary">
        Date of Birth: <input type="date" name="dob">
        Start Date: <input type="date" name="startdate">
        Post: <input type="text" name="post" placeholder="Post">
        Contact No: <input type="tel" name="contactno" placeholder="Contact Number">
        Qualifications: <input type="text" name="qualifications" placeholder="Qualifications">
        <button type="submit">Submit</button>

    </form>
</body>
</html>