<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hamro Sewa</title>
</head>
<body>
    <% 
        allRecords.forEach(record => {	
    %>
        <h5><%= record._id %></h5>
        <%= record.name %>
        <%= record.address %>
        <%= record.gender %>
        <%= record.salary %>
        <%= record.dob %>
        <%= record.startdate %>
        <%= record.post %>
        <%= record.contactno %>
        <%= record.qualification %>
        <a href="">Edit</a>
    <%
        }); 
    %>
</body>
</html>